<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/fail/font_shibaimiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{572,83}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,83}}</string>
                <key>sourceSize</key>
                <string>{572,83}</string>								
            </dict>
            <key>texture/fail/font_weidachengmubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,87},{427,121}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,121}}</string>
                <key>sourceSize</key>
                <string>{427,121}</string>								
            </dict>
            <key>texture/fail/font_zailai.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,87},{144,38}}</string> 
                <key>offset</key>
                <string>{-1,-3}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{144,38}}</string>
                <key>sourceSize</key>
                <string>{172,70}</string>								
            </dict>
            <key>texture/fail/img_shibaibear.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{184,289}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,289}}</string>
                <key>sourceSize</key>
                <string>{184,289}</string>								
            </dict>
            <key>texture/fail/img_shibaiwawa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,229}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,229}}</string>
                <key>sourceSize</key>
                <string>{310,229}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fail.png</string>
            <key>size</key>
            <string>{1179,233}</string>
            <key>textureFileName</key>
            <string>fail.png</string>			
		</dict>
	</dict>
</plist>
