<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/levelInfo/font_dg.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{264,72}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{264,72}}</string>
                <key>sourceSize</key>
                <string>{270,72}</string>								
            </dict>
            <key>texture/levelInfo/font_ks.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{110,58}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>								
            </dict>
            <key>texture/levelInfo/font_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,61},{108,59}}</string> 
                <key>offset</key>
                <string>{-2,2}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{108,59}}</string>
                <key>sourceSize</key>
                <string>{130,75}</string>								
            </dict>
            <key>texture/levelInfo/font_qxzdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,57}}</string> 
                <key>offset</key>
                <string>{-1,1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{281,57}}</string>
                <key>sourceSize</key>
                <string>{285,75}</string>								
            </dict>
            <key>texture/levelInfo/font_tilijian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,76},{51,41}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>								
            </dict>
            <key>texture/levelInfo/img_daojujiagediban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{160,63}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,63}}</string>
                <key>sourceSize</key>
                <string>{160,63}</string>								
            </dict>
            <key>texture/levelInfo/tilicao.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,76},{49,62}}</string> 
                <key>offset</key>
                <string>{-2,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelInfo.png</string>
            <key>size</key>
            <string>{611,127}</string>
            <key>textureFileName</key>
            <string>levelInfo.png</string>			
		</dict>
	</dict>
</plist>
