<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/main/bg_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{210,45}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{210,45}}</string>
                <key>sourceSize</key>
                <string>{218,49}</string>								
            </dict>
            <key>texture/main/board_edge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,727},{6,81}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,81}}</string>
                <key>sourceSize</key>
                <string>{6,81}</string>								
            </dict>
            <key>texture/main/board_edge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,902},{6,73}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,73}}</string>
                <key>sourceSize</key>
                <string>{6,73}</string>								
            </dict>
            <key>texture/main/board_edge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,781},{6,63}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,63}}</string>
                <key>sourceSize</key>
                <string>{6,63}</string>								
            </dict>
            <key>texture/main/board_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,825},{14,14}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>								
            </dict>
            <key>texture/main/board_outside.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,809},{14,14}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>								
            </dict>
            <key>texture/main/font_bencimianfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,690},{121,34}}</string> 
                <key>offset</key>
                <string>{-1,-2}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{121,34}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>								
            </dict>
            <key>texture/main/font_tongguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,690},{117,59}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,59}}</string>
                <key>sourceSize</key>
                <string>{117,59}</string>								
            </dict>
            <key>texture/main/font_wcmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,781},{98,26}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{98,26}}</string>
                <key>sourceSize</key>
                <string>{102,32}</string>								
            </dict>
            <key>texture/main/grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,727},{80,80}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>								
            </dict>
            <key>texture/main/grid_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{75,38}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{79,38}</string>								
            </dict>
            <key>texture/main/grid_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{75,38}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{79,38}</string>								
            </dict>
            <key>texture/main/img_fengshutiaobomo.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,690},{35,106}}</string> 
                <key>offset</key>
                <string>{0,1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,106}}</string>
                <key>sourceSize</key>
                <string>{35,108}</string>								
            </dict>
            <key>texture/main/img_pause_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,809},{58,57}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>								
            </dict>
            <key>texture/main/img_score_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,813},{108,35}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,35}}</string>
                <key>sourceSize</key>
                <string>{110,35}</string>								
            </dict>
            <key>texture/main/img_score_string1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,727},{52,29}}</string> 
                <key>offset</key>
                <string>{0,3}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{64,35}</string>								
            </dict>
            <key>texture/main/img_shenglibeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{686,302}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,302}}</string>
                <key>sourceSize</key>
                <string>{686,302}</string>								
            </dict>
            <key>texture/main/lanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{75,38}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{79,38}</string>								
            </dict>
            <key>texture/main/main_checkpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,690},{163,31}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{163,31}}</string>
                <key>sourceSize</key>
                <string>{163,33}</string>								
            </dict>
            <key>texture/main/main_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,881},{100,91}}</string> 
                <key>offset</key>
                <string>{1,2}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{100,91}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>								
            </dict>
            <key>texture/main/main_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,881},{100,91}}</string> 
                <key>offset</key>
                <string>{1,2}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{100,91}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>								
            </dict>
            <key>texture/main/progress_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,850},{21,16}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{21,16}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>								
            </dict>
            <key>texture/main/sheguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,855},{41,125}}</string> 
                <key>offset</key>
                <string>{1,1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{41,125}}</string>
                <key>sourceSize</key>
                <string>{69,153}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{306,982}</string>
            <key>textureFileName</key>
            <string>main.png</string>			
		</dict>
	</dict>
</plist>
