<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/payment/pingguo_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,369},{184,187}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,187}}</string>
                <key>sourceSize</key>
                <string>{184,187}</string>								
            </dict>
            <key>texture/payment/pingguozhifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{251,88}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,88}}</string>
                <key>sourceSize</key>
                <string>{251,88}</string>								
            </dict>
            <key>texture/payment/weixin_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,180},{196,187}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,187}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>								
            </dict>
            <key>texture/payment/weixinzhifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,92},{244,86}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,86}}</string>
                <key>sourceSize</key>
                <string>{244,86}</string>								
            </dict>
            <key>texture/payment/zhifufangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,723}}</string> 
                <key>offset</key>
                <string>{0,11}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{588,723}}</string>
                <key>sourceSize</key>
                <string>{598,747}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>payment.png</string>
            <key>size</key>
            <string>{980,592}</string>
            <key>textureFileName</key>
            <string>payment.png</string>			
		</dict>
	</dict>
</plist>
