<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/common/1zhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,917},{98,88}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>								
            </dict>
            <key>texture/common/BTN_12yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1831},{98,44}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>								
            </dict>
            <key>texture/common/BTN_18yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1831},{98,44}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>								
            </dict>
            <key>texture/common/BTN_1yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1753},{70,44}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,44}}</string>
                <key>sourceSize</key>
                <string>{70,44}</string>								
            </dict>
            <key>texture/common/BTN_30yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1707},{103,44}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,44}}</string>
                <key>sourceSize</key>
                <string>{103,44}</string>								
            </dict>
            <key>texture/common/BTN_6yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1959},{75,44}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>								
            </dict>
            <key>texture/common/SC_zuanshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1491},{108,65}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,65}}</string>
                <key>sourceSize</key>
                <string>{108,65}</string>								
            </dict>
            <key>texture/common/SC_zuanshi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1905},{127,90}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,90}}</string>
                <key>sourceSize</key>
                <string>{127,90}</string>								
            </dict>
            <key>texture/common/bg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{679,434}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,434}}</string>
                <key>sourceSize</key>
                <string>{679,434}</string>								
            </dict>
            <key>texture/common/bg_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1318},{136,136}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>								
            </dict>
            <key>texture/common/bg_daojubox.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1174},{142,142}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>								
            </dict>
            <key>texture/common/bg_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1016},{161,184}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,184}}</string>
                <key>sourceSize</key>
                <string>{161,184}</string>								
            </dict>
            <key>texture/common/bg_qiandaotiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1907},{125,117}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{125,117}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>								
            </dict>
            <key>texture/common/bg_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,632},{221,382}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,382}}</string>
                <key>sourceSize</key>
                <string>{221,382}</string>								
            </dict>
            <key>texture/common/bg_yellow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1016},{156,144}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,144}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>								
            </dict>
            <key>texture/common/btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,632},{269,93}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,93}}</string>
                <key>sourceSize</key>
                <string>{269,93}</string>								
            </dict>
            <key>texture/common/btn_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,843},{52,52}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>								
            </dict>
            <key>texture/common/btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1634},{271,89}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,89}}</string>
                <key>sourceSize</key>
                <string>{271,89}</string>								
            </dict>
            <key>texture/common/btn_red002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{269,93}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,93}}</string>
                <key>sourceSize</key>
                <string>{269,93}</string>								
            </dict>
            <key>texture/common/closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1833},{70,68}}</string> 
                <key>offset</key>
                <string>{0,1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>								
            </dict>
            <key>texture/common/colorbox_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1926},{80,80}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>								
            </dict>
            <key>texture/common/colorbox_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1877},{80,80}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>								
            </dict>
            <key>texture/common/colorbox_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1877},{80,80}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>								
            </dict>
            <key>texture/common/colorbox_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1877},{80,80}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>								
            </dict>
            <key>texture/common/colorbox_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1914},{80,80}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>								
            </dict>
            <key>texture/common/colorbox_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1832},{80,80}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>								
            </dict>
            <key>texture/common/font_10wanjinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1583},{138,39}}</string> 
                <key>offset</key>
                <string>{-1,1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{138,39}}</string>
                <key>sourceSize</key>
                <string>{154,43}</string>								
            </dict>
            <key>texture/common/font_3wanjinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1408},{139,39}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{139,39}}</string>
                <key>sourceSize</key>
                <string>{147,43}</string>								
            </dict>
            <key>texture/common/font_SC_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1827},{84,43}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,43}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>								
            </dict>
            <key>texture/common/font_SC_zhuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1615},{86,45}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>								
            </dict>
            <key>texture/common/font_bobantang.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1708},{117,40}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{117,40}}</string>
                <key>sourceSize</key>
                <string>{123,40}</string>								
            </dict>
            <key>texture/common/font_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1905},{97,43}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{97,43}}</string>
                <key>sourceSize</key>
                <string>{113,57}</string>								
            </dict>
            <key>texture/common/font_caihongtang.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1466},{154,42}}</string> 
                <key>offset</key>
                <string>{-2,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{154,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>								
            </dict>
            <key>texture/common/font_chongxinpailie.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1179},{239,23}}</string> 
                <key>offset</key>
                <string>{0,-1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{239,23}}</string>
                <key>sourceSize</key>
                <string>{239,25}</string>								
            </dict>
            <key>texture/common/font_datili.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,191},{227,40}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,40}}</string>
                <key>sourceSize</key>
                <string>{227,40}</string>								
            </dict>
            <key>texture/common/font_dg.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1179},{264,72}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{264,72}}</string>
                <key>sourceSize</key>
                <string>{270,72}</string>								
            </dict>
            <key>texture/common/font_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1558},{108,55}}</string> 
                <key>offset</key>
                <string>{1,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{108,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>								
            </dict>
            <key>texture/common/font_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1420},{74,32}}</string> 
                <key>offset</key>
                <string>{0,-1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{74,32}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>								
            </dict>
            <key>texture/common/font_huanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1194},{285,24}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,24}}</string>
                <key>sourceSize</key>
                <string>{285,24}</string>								
            </dict>
            <key>texture/common/font_huanseshua.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1708},{117,40}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{117,40}}</string>
                <key>sourceSize</key>
                <string>{123,40}</string>								
            </dict>
            <key>texture/common/font_huifu30dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1639},{192,21}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,21}}</string>
                <key>sourceSize</key>
                <string>{192,21}</string>								
            </dict>
            <key>texture/common/font_huifu5dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1639},{175,21}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{175,21}}</string>
                <key>sourceSize</key>
                <string>{181,21}</string>								
            </dict>
            <key>texture/common/font_jiawubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1449},{117,40}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{117,40}}</string>
                <key>sourceSize</key>
                <string>{123,40}</string>								
            </dict>
            <key>texture/common/font_jixuwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1318},{136,35}}</string> 
                <key>offset</key>
                <string>{0,1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{136,35}}</string>
                <key>sourceSize</key>
                <string>{148,49}</string>								
            </dict>
            <key>texture/common/font_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1574},{113,48}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,48}}</string>
                <key>sourceSize</key>
                <string>{113,48}</string>								
            </dict>
            <key>texture/common/font_qianghongbaoziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1527},{85,32}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,32}}</string>
                <key>sourceSize</key>
                <string>{85,32}</string>								
            </dict>
            <key>texture/common/font_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1827},{97,42}}</string> 
                <key>offset</key>
                <string>{-1,-2}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{97,42}}</string>
                <key>sourceSize</key>
                <string>{105,52}</string>								
            </dict>
            <key>texture/common/font_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1481},{149,35}}</string> 
                <key>offset</key>
                <string>{0,1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{149,35}}</string>
                <key>sourceSize</key>
                <string>{149,57}</string>								
            </dict>
            <key>texture/common/font_shiguangji.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,798},{117,40}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,40}}</string>
                <key>sourceSize</key>
                <string>{121,40}</string>								
            </dict>
            <key>texture/common/font_shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1996},{81,40}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,40}}</string>
                <key>sourceSize</key>
                <string>{83,40}</string>								
            </dict>
            <key>texture/common/font_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1179},{285,23}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{285,23}}</string>
                <key>sourceSize</key>
                <string>{287,23}</string>								
            </dict>
            <key>texture/common/font_tangguozhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,640},{156,40}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{164,40}</string>								
            </dict>
            <key>texture/common/font_xiaochu33.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1179},{239,23}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,23}}</string>
                <key>sourceSize</key>
                <string>{241,23}</string>								
            </dict>
            <key>texture/common/font_xiaochuzhiding.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1179},{216,24}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{216,24}}</string>
                <key>sourceSize</key>
                <string>{218,26}</string>								
            </dict>
            <key>texture/common/font_xiaotili.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,2},{187,43}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{187,43}}</string>
                <key>sourceSize</key>
                <string>{191,43}</string>								
            </dict>
            <key>texture/common/font_youjiangfenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,640},{201,60}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,60}}</string>
                <key>sourceSize</key>
                <string>{201,60}</string>								
            </dict>
            <key>texture/common/font_zengjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1445},{177,24}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{177,24}}</string>
                <key>sourceSize</key>
                <string>{177,26}</string>								
            </dict>
            <key>texture/common/font_zengjia30miao.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1445},{192,23}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{192,23}}</string>
                <key>sourceSize</key>
                <string>{196,29}</string>								
            </dict>
            <key>texture/common/gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1469},{56,46}}</string> 
                <key>offset</key>
                <string>{0,-2}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{56,46}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>								
            </dict>
            <key>texture/common/img_cp_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1527},{56,86}}</string> 
                <key>offset</key>
                <string>{4,7}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{56,86}}</string>
                <key>sourceSize</key>
                <string>{86,104}</string>								
            </dict>
            <key>texture/common/img_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1959},{61,83}}</string> 
                <key>offset</key>
                <string>{-2,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{61,83}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>								
            </dict>
            <key>texture/common/img_qiandaoqie.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,632},{363,155}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,155}}</string>
                <key>sourceSize</key>
                <string>{363,155}</string>								
            </dict>
            <key>texture/common/img_qiandaotoutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{754,145}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{754,145}}</string>
                <key>sourceSize</key>
                <string>{754,145}</string>								
            </dict>
            <key>texture/common/img_shenglidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,438},{475,192}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,192}}</string>
                <key>sourceSize</key>
                <string>{475,192}</string>								
            </dict>
            <key>texture/common/img_wuxiantilitubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,903},{107,127}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,127}}</string>
                <key>sourceSize</key>
                <string>{107,127}</string>								
            </dict>
            <key>texture/common/img_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1825},{78,39}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,39}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>								
            </dict>
            <key>texture/common/item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1225},{82,100}}</string> 
                <key>offset</key>
                <string>{0,-1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,100}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>								
            </dict>
            <key>texture/common/item_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1959},{70,81}}</string> 
                <key>offset</key>
                <string>{-1,2}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{70,81}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>								
            </dict>
            <key>texture/common/item_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1456},{125,105}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,105}}</string>
                <key>sourceSize</key>
                <string>{125,105}</string>								
            </dict>
            <key>texture/common/item_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,545},{100,93}}</string> 
                <key>offset</key>
                <string>{-1,-5}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{100,93}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>								
            </dict>
            <key>texture/common/item_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1732},{106,97}}</string> 
                <key>offset</key>
                <string>{0,-1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{106,97}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>								
            </dict>
            <key>texture/common/item_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1456},{127,116}}</string> 
                <key>offset</key>
                <string>{0,1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{127,116}}</string>
                <key>sourceSize</key>
                <string>{129,120}</string>								
            </dict>
            <key>texture/common/item_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1032},{134,123}}</string> 
                <key>offset</key>
                <string>{0,-1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,123}}</string>
                <key>sourceSize</key>
                <string>{134,125}</string>								
            </dict>
            <key>texture/common/item_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1732},{98,97}}</string> 
                <key>offset</key>
                <string>{-1,3}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{98,97}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>								
            </dict>
            <key>texture/common/item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1032},{98,109}}</string> 
                <key>offset</key>
                <string>{-4,-1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,109}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>								
            </dict>
            <key>texture/common/item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1624},{106,101}}</string> 
                <key>offset</key>
                <string>{0,-2}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>								
            </dict>
            <key>texture/common/item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1615},{78,91}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{78,91}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>								
            </dict>
            <key>texture/common/item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1624},{104,107}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>								
            </dict>
            <key>texture/common/item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1733},{106,97}}</string> 
                <key>offset</key>
                <string>{0,-1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{106,97}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>								
            </dict>
            <key>texture/common/item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1309},{98,97}}</string> 
                <key>offset</key>
                <string>{-1,5}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>								
            </dict>
            <key>texture/common/item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1624},{106,91}}</string> 
                <key>offset</key>
                <string>{0,-2}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{106,91}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>								
            </dict>
            <key>texture/common/item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,438},{100,105}}</string> 
                <key>offset</key>
                <string>{1,-1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{100,105}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>								
            </dict>
            <key>texture/common/item_con.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1293},{110,113}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,113}}</string>
                <key>sourceSize</key>
                <string>{110,113}</string>								
            </dict>
            <key>texture/common/jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1703},{48,46}}</string> 
                <key>offset</key>
                <string>{0,-1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>								
            </dict>
            <key>texture/common/libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1157},{134,120}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,120}}</string>
                <key>sourceSize</key>
                <string>{134,120}</string>								
            </dict>
            <key>texture/common/main_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1132},{100,91}}</string> 
                <key>offset</key>
                <string>{1,2}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{100,91}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>								
            </dict>
            <key>texture/common/piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{438,134}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,134}}</string>
                <key>sourceSize</key>
                <string>{438,134}</string>								
            </dict>
            <key>texture/common/title_mubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1615},{90,48}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>								
            </dict>
            <key>texture/common/zhuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1408},{59,71}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{728,2038}</string>
            <key>textureFileName</key>
            <string>common.png</string>			
		</dict>
	</dict>
</plist>
