<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/continueFail/font_nexttime.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,178},{144,37}}</string> 
                <key>offset</key>
                <string>{-1,-2}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{144,37}}</string>
                <key>sourceSize</key>
                <string>{158,53}</string>								
            </dict>
            <key>texture/continueFail/font_niyijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,174}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{387,174}}</string>
                <key>sourceSize</key>
                <string>{405,194}</string>								
            </dict>
            <key>texture/continueFail/font_shiyongkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{158,39}}</string> 
                <key>offset</key>
                <string>{1,-1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{158,39}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>								
            </dict>
            <key>texture/continueFail/font_youxiyikaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{276,69}}</string> 
                <key>offset</key>
                <string>{-3,3}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{276,69}}</string>
                <key>sourceSize</key>
                <string>{288,87}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>continueFail.png</string>
            <key>size</key>
            <string>{432,249}</string>
            <key>textureFileName</key>
            <string>continueFail.png</string>			
		</dict>
	</dict>
</plist>
