<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/CPGift/bg_blue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,35},{240,59}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,59}}</string>
                <key>sourceSize</key>
                <string>{240,59}</string>								
            </dict>
            <key>texture/CPGift/font_huodemianfeidaoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{412,31}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,31}}</string>
                <key>sourceSize</key>
                <string>{412,31}</string>								
            </dict>
            <key>texture/CPGift/font_jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,35},{152,76}}</string> 
                <key>offset</key>
                <string>{-2,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{152,76}}</string>
                <key>sourceSize</key>
                <string>{170,76}</string>								
            </dict>
            <key>texture/CPGift/font_jiazhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,34}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CPGift.png</string>
            <key>size</key>
            <string>{452,113}</string>
            <key>textureFileName</key>
            <string>CPGift.png</string>			
		</dict>
	</dict>
</plist>
