<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/shop/SC_zhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,123},{60,72}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>								
            </dict>
            <key>texture/shop/bg_beibaotishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,123},{60,72}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>								
            </dict>
            <key>texture/shop/bg_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{133,168}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,168}}</string>
                <key>sourceSize</key>
                <string>{133,168}</string>								
            </dict>
            <key>texture/shop/btn_SC_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,123},{168,80}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>								
            </dict>
            <key>texture/shop/btn_SC_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{169,94}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,94}}</string>
                <key>sourceSize</key>
                <string>{169,94}</string>								
            </dict>
            <key>texture/shop/font_SC_chaozhitaocan.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,123},{168,45}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,45}}</string>
                <key>sourceSize</key>
                <string>{168,45}</string>								
            </dict>
            <key>texture/shop/font_SC_daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,173},{86,45}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>								
            </dict>
            <key>texture/shop/font_SC_daojushangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{239,70}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{239,70}}</string>
                <key>sourceSize</key>
                <string>{275,70}</string>								
            </dict>
            <key>texture/shop/font_SC_huobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,170},{80,43}}</string> 
                <key>offset</key>
                <string>{1,-1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{80,43}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>								
            </dict>
            <key>texture/shop/font_SC_wodedaoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,172},{168,45}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,45}}</string>
                <key>sourceSize</key>
                <string>{168,45}</string>								
            </dict>
            <key>texture/shop/font_SC_yuanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,173},{47,26}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>								
            </dict>
            <key>texture/shop/font_zaizengsong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{91,34}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,34}}</string>
                <key>sourceSize</key>
                <string>{91,34}</string>								
            </dict>
            <key>texture/shop/font_zaizengsongjinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,95},{55,31}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,31}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>								
            </dict>
            <key>texture/shop/font_zengsongzuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,138},{31,30}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>								
            </dict>
            <key>texture/shop/img_shopbear.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{254,224}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,224}}</string>
                <key>sourceSize</key>
                <string>{254,224}</string>								
            </dict>
            <key>texture/shop/img_shopding.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{716,119}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,119}}</string>
                <key>sourceSize</key>
                <string>{716,119}</string>								
            </dict>
            <key>texture/shop/jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,170},{48,46}}</string> 
                <key>offset</key>
                <string>{0,-1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>								
            </dict>
            <key>texture/shop/xiegang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,2},{134,22}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,22}}</string>
                <key>sourceSize</key>
                <string>{134,22}</string>								
            </dict>
            <key>texture/shop/yang.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,185},{35,33}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{1278,228}</string>
            <key>textureFileName</key>
            <string>shop.png</string>			
		</dict>
	</dict>
</plist>
