<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/trip/font_chongqirenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,449},{138,39}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,39}}</string>
                <key>sourceSize</key>
                <string>{138,39}</string>								
            </dict>
            <key>texture/trip/font_qihuanlvcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{445,64}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,64}}</string>
                <key>sourceSize</key>
                <string>{445,64}</string>								
            </dict>
            <key>texture/trip/font_renwuday.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,589},{21,81}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,81}}</string>
                <key>sourceSize</key>
                <string>{21,81}</string>								
            </dict>
            <key>texture/trip/font_renwuhoujiesui.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,672},{70,23}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>								
            </dict>
            <key>texture/trip/font_tongguoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,449},{233,33}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,33}}</string>
                <key>sourceSize</key>
                <string>{233,33}</string>								
            </dict>
            <key>texture/trip/font_zisetitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{686,153}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,153}}</string>
                <key>sourceSize</key>
                <string>{686,153}</string>								
            </dict>
            <key>texture/trip/img_hentiaotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,684},{37,117}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,117}}</string>
                <key>sourceSize</key>
                <string>{37,117}</string>								
            </dict>
            <key>texture/trip/img_hentiaotoulanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,690},{37,117}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,117}}</string>
                <key>sourceSize</key>
                <string>{37,117}</string>								
            </dict>
            <key>texture/trip/img_renwuzhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{125,117}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,117}}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trip.png</string>
            <key>size</key>
            <string>{233,809}</string>
            <key>textureFileName</key>
            <string>trip.png</string>			
		</dict>
	</dict>
</plist>
