<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/fiveStep/font_bushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{145,57}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,57}}</string>
                <key>sourceSize</key>
                <string>{145,57}</string>								
            </dict>
            <key>texture/fiveStep/font_freeResurgence.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{146,65}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,65}}</string>
                <key>sourceSize</key>
                <string>{146,65}</string>								
            </dict>
            <key>texture/fiveStep/font_freeResurgenceOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,69},{141,16}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,16}}</string>
                <key>sourceSize</key>
                <string>{141,16}</string>								
            </dict>
            <key>texture/fiveStep/font_goon.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{112,48}}</string> 
                <key>offset</key>
                <string>{1,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{112,48}}</string>
                <key>sourceSize</key>
                <string>{152,52}</string>								
            </dict>
            <key>texture/fiveStep/font_jia30miao.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{109,36}}</string> 
                <key>offset</key>
                <string>{3,-3}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{109,36}}</string>
                <key>sourceSize</key>
                <string>{129,48}</string>								
            </dict>
            <key>texture/fiveStep/font_jia5bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,87},{87,36}}</string> 
                <key>offset</key>
                <string>{3,-2}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{87,36}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>								
            </dict>
            <key>texture/fiveStep/font_shijian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,52}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,52}}</string>
                <key>sourceSize</key>
                <string>{152,52}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fiveStep.png</string>
            <key>size</key>
            <string>{392,125}</string>
            <key>textureFileName</key>
            <string>fiveStep.png</string>			
		</dict>
	</dict>
</plist>
