<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/flipBrand/FP_fanmian.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,390},{101,127}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,127}}</string>
                <key>sourceSize</key>
                <string>{101,127}</string>								
            </dict>
            <key>texture/flipBrand/FP_zhengmian.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,390},{101,127}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,127}}</string>
                <key>sourceSize</key>
                <string>{101,127}</string>								
            </dict>
            <key>texture/flipBrand/bg_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,386}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,386}}</string>
                <key>sourceSize</key>
                <string>{664,386}</string>								
            </dict>
            <key>texture/flipBrand/chousongdejiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{261,42}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,42}}</string>
                <key>sourceSize</key>
                <string>{261,42}</string>								
            </dict>
            <key>texture/flipBrand/da2zhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,288},{69,66}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>								
            </dict>
            <key>texture/flipBrand/font_FPgoumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,392},{81,41}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,41}}</string>
                <key>sourceSize</key>
                <string>{81,43}</string>								
            </dict>
            <key>texture/flipBrand/font_FPhuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,356},{82,42}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,42}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>								
            </dict>
            <key>texture/flipBrand/font_goumaiquanbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,239},{151,45}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,45}}</string>
                <key>sourceSize</key>
                <string>{151,45}</string>								
            </dict>
            <key>texture/flipBrand/font_guoguanjiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{235,70}}</string> 
                <key>offset</key>
                <string>{-3,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{235,70}}</string>
                <key>sourceSize</key>
                <string>{271,70}</string>								
            </dict>
            <key>texture/flipBrand/font_mianfeichouqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{284,78}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{284,78}}</string>
                <key>sourceSize</key>
                <string>{284,80}</string>								
            </dict>
            <key>texture/flipBrand/font_quanbujiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,265},{160,42}}</string> 
                <key>offset</key>
                <string>{1,-1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,42}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>								
            </dict>
            <key>texture/flipBrand/font_xinyunbaobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{440,87}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{440,87}}</string>
                <key>sourceSize</key>
                <string>{444,89}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flipBrand.png</string>
            <key>size</key>
            <string>{864,493}</string>
            <key>textureFileName</key>
            <string>flipBrand.png</string>			
		</dict>
	</dict>
</plist>
