<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/power/font_bctl.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,398},{198,60}}</string> 
                <key>offset</key>
                <string>{1,-1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{198,60}}</string>
                <key>sourceSize</key>
                <string>{234,62}</string>								
            </dict>
            <key>texture/power/font_dtl.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,368},{69,25}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{69,25}}</string>
                <key>sourceSize</key>
                <string>{89,41}</string>								
            </dict>
            <key>texture/power/font_huifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{226,26}}</string> 
                <key>offset</key>
                <string>{-1,-1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{226,26}}</string>
                <key>sourceSize</key>
                <string>{238,40}</string>								
            </dict>
            <key>texture/power/font_jinglimanle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,38}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,38}}</string>
                <key>sourceSize</key>
                <string>{237,38}</string>								
            </dict>
            <key>texture/power/font_jinxuyuanbuman.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,70},{326,34}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,34}}</string>
                <key>sourceSize</key>
                <string>{326,34}</string>								
            </dict>
            <key>texture/power/font_ljhf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{92,25}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{92,25}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>								
            </dict>
            <key>texture/power/font_tilibuzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,460},{154,34}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>								
            </dict>
            <key>texture/power/font_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{96,42}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{96,42}}</string>
                <key>sourceSize</key>
                <string>{108,58}</string>								
            </dict>
            <key>texture/power/ui_tili_chongwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{296,214}}</string> 
                <key>offset</key>
                <string>{0,-1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{296,214}}</string>
                <key>sourceSize</key>
                <string>{300,216}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>power.png</string>
            <key>size</key>
            <string>{254,496}</string>
            <key>textureFileName</key>
            <string>power.png</string>			
		</dict>
	</dict>
</plist>
