<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/selectLevel/SC_zuanshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,64},{58,70}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>								
            </dict>
            <key>texture/selectLevel/bg_property.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,60}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,60}}</string>
                <key>sourceSize</key>
                <string>{209,60}</string>								
            </dict>
            <key>texture/selectLevel/bossguanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,44},{94,32}}</string> 
                <key>offset</key>
                <string>{1,-6}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{94,32}}</string>
                <key>sourceSize</key>
                <string>{128,56}</string>								
            </dict>
            <key>texture/selectLevel/btn_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{95,76}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{95,76}}</string>
                <key>sourceSize</key>
                <string>{101,76}</string>								
            </dict>
            <key>texture/selectLevel/btn_unactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{97,76}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,76}}</string>
                <key>sourceSize</key>
                <string>{101,76}</string>								
            </dict>
            <key>texture/selectLevel/font_jia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{89,53}}</string> 
                <key>offset</key>
                <string>{1,2}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{89,53}}</string>
                <key>sourceSize</key>
                <string>{103,65}</string>								
            </dict>
            <key>texture/selectLevel/font_renwuhoujiesui.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,99},{68,23}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>								
            </dict>
            <key>texture/selectLevel/font_wuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,44},{55,34}}</string> 
                <key>offset</key>
                <string>{0,-1}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{55,34}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>								
            </dict>
            <key>texture/selectLevel/hongsetishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,78},{44,46}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>								
            </dict>
            <key>texture/selectLevel/img_wuxiantiliicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,64},{55,85}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,85}}</string>
                <key>sourceSize</key>
                <string>{55,85}</string>								
            </dict>
            <key>texture/selectLevel/jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,23},{171,19}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,19}}</string>
                <key>sourceSize</key>
                <string>{171,19}</string>								
            </dict>
            <key>texture/selectLevel/jdt_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{171,19}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,19}}</string>
                <key>sourceSize</key>
                <string>{171,19}</string>								
            </dict>
            <key>texture/selectLevel/jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,78},{48,46}}</string> 
                <key>offset</key>
                <string>{0,-1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectLevel.png</string>
            <key>size</key>
            <string>{542,126}</string>
            <key>textureFileName</key>
            <string>selectLevel.png</string>			
		</dict>
	</dict>
</plist>
