<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
		<key>frames</key>	
		<dict>
            <key>texture/starReward/font_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,88},{87,38}}</string> 
                <key>offset</key>
                <string>{-2,0}</string>				
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{87,38}}</string>
                <key>sourceSize</key>
                <string>{97,52}</string>								
            </dict>
            <key>texture/starReward/font_xingjijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{281,84}}</string> 
                <key>offset</key>
                <string>{0,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{281,84}}</string>
                <key>sourceSize</key>
                <string>{295,90}</string>								
            </dict>
            <key>texture/starReward/font_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,88},{115,42}}</string> 
                <key>offset</key>
                <string>{-1,-1}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{115,42}}</string>
                <key>sourceSize</key>
                <string>{139,72}</string>								
            </dict>
            <key>texture/starReward/ui_shoujixingxing_chongwuzhanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,193}}</string> 
                <key>offset</key>
                <string>{-1,0}</string>				
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,193}}</string>
                <key>sourceSize</key>
                <string>{300,193}</string>								
            </dict>
        </dict>
        <key>metadata</key>
            <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>starReward.png</string>
            <key>size</key>
            <string>{585,197}</string>
            <key>textureFileName</key>
            <string>starReward.png</string>			
		</dict>
	</dict>
</plist>
